<%- include('../../Includes/begin.ejs') %>

<link rel="stylesheet" href="../../CSS/admin-dashboard.css">

<div class="container-fluid">
    <div id="wrapper">
        <%- include('../../Includes/admin_nav.ejs') %>
        <section id="content-wrapper">
            <main role="main" class="pt-5 main">
                <div class="main-content">
                    <div class="header pb-4 pb-sm-8 pt-5 pt-lg-8 d-flex align-items-center"
                        style="height: 100px; background-size: cover; background-position: center top;">
                    </div>
                    <div class="container-fluid mt--7">
                        <div class="row">
                            <div class="col-xl-12 order-xl-1">
                                <div class="card bg-secondary shadow">
                                    <div class="card-body">
                                        <%- include('../../Includes/messages') %>
                                        <input class="form-control mb-4" id="searchInput" type="text"
                                            placeholder="Search Category">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Delete Category</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="categoryTable">
                                                    <% for(let i=0; i < data.length; i++) { %>
                                                        <tr>
                                                            <th scope="row">
                                                                <%= i+1 %>
                                                            </th>
                                                            <td>
                                                                <%= data[i].cname %>
                                                            </td>
                                                            <td>
                                                                <a href="/admin/edit/deleteCategory/<%= data[i].id %>"
                                                                    class="btn btn-sm btn-danger">Delete Category</a>
                                                            </td>
                                                        </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>
    </div>
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var searchInput = document.getElementById("searchInput");
        var categoryTable = document.getElementById("categoryTable");

        searchInput.addEventListener("keyup", function () {
            var searchText = searchInput.value.toLowerCase();

            // Loop through table rows
            var rows = categoryTable.getElementsByTagName("tr");
            for (var i = 0; i < rows.length; i++) { // Start from 1 to skip the table header row
                var titleCell = rows[i].getElementsByTagName("td")[0]; // Get the third cell (title)
                var title = titleCell.textContent.toLowerCase();
                if (title.includes(searchText)) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        });
    });
</script>
