<%- include('../Includes/begin.ejs') %>
    <%- include('../Includes/student_nav.ejs') %>

        <section id="content-wrapper">
            <main role="main" class="pt-5 main">
                <div class="header pb-4 pb-sm-8 pt-5 pt-lg-4 d-flex align-items-center"
                    style="max-height: 100px; background-size: cover; background-position: center top;">
                    <h1>All Schedule</h1>
                    </h1>
                </div>

                <div class="row">
                    <% if(timeTable.length != 0) { %>
                    <% for(const TT of timeTable) { %>
                     <!-- <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"><%= TT.name %></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> 
                            <a href="../<%= TT.path %>" class="btn btn-primary" target="_blank">View</a>
                            
                          </div>
                        </div>
                      </div>  -->
                      <div class="col-sm-4">
                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img class="card-img-top"
                                src="../<%= TT.path %>"
                                alt="image">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase text-center" ><%= TT.name %></h5>

                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-center"
                                    style="color: #fff; ">
                                    <a href="../<%= TT.path %>" class="btn btn-primary" target="_blank">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                      <% } %>
                      <% }else { %>
                        <div class="col-sm-6">
                            <div class="alert alert-primary" role="alert">
                                * No exam Timetable Available Right Now !
                              </div>
                          </div>
                    <% } %>
                </div>
                

            </main>
        </section>

        <%- include('../Includes/student_end.ejs') %>