<%- include('../Includes/begin.ejs') %>
    <%- include('../Includes/staff_nav.ejs') %>

        <section id="content-wrapper">
            <main role="main" class="pt-5 main">
                <div class="header pb-4 pb-sm-8 pt-5 pt-lg-4 d-flex align-items-center"
                    style="max-height: 100px; background-size: cover; background-position: center top;">
                    <h1>All Schedule</h1>
                    </h1>
                </div>

                <div class="row">
                    <% if(scheduleData.length != 0) { %>
                    <% for(const schedule of scheduleData) { %>
                    <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"><%= schedule.name %></h5>
                            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                            <a href="../<%= schedule.path %>" class="btn btn-primary" target="_blank">View</a>
                            <a href="/staff/deleteSchedule?name=<%= schedule.name %>" class="btn btn-primary" >Delete</a>
                          </div>
                        </div>
                      </div>
                      <% } %>
                      <% }else { %>
                        <div class="col-sm-6">
                            <div class="alert alert-primary" role="alert">
                                * No Schedule Available Right Now !
                              </div>
                          </div>
                    <% } %>
                </div>
                

            </main>
        </section>

        <%- include('../Includes/staff_end.ejs') %>